<div class="c-header" data-action="header">
    <div class="c-header__top">
    </div>
    <div class="c-header__middle">
        <div class="c-header__container">
            <div class="row c-header__citi_logo">
                <img src="assets/images/citi_logo.png">
            </div>
        </div>
    </div>

</div>
