<div class="c__processcancelled" data-action="processcancelled">
    <div id="c__processcancelled__modal" class="c__processcancelled__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__processcancelled__modal__header">
                <p>Thank you for your business</p>
            </div>


            <div class="c__processcancelled__modal_body">

                <p>If you have any questions please contact Citibank on behalf of {Partner} at {portfolio_toll_free_number}. Thank You.</p>
                <button class="blue_BTN c__processcancelled_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>