<div class="c__apologiesalapsed" data-action="apologiesalapsed">
    <div id="c__apologiesalapsed__modal" class="c__apologiesalapsed__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__apologiesalapsed__modal__header">
                <p>We apologize for the inconvenience</p>
            </div>


            <div class="c__apologiesalapsed__modal_body">

                <p>The timeframe to update your mobile device preferences through this application elapsed.  If you have any questions please contact Citibank on behalf of {Partner} at {portfolio_toll_free_number}.  Thank You.</p>
                <button class="blue_BTN c__apologiesalapsed_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>