<div class="c__apologiesprev_es" data-action="apologiesprev_es">
    <div id="c__apologiesprev_es__modal" class="c__apologiesprev_es__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__apologiesprev_es__modal__header">
                <p>Le pedimos disculpas por cualquier inconveniente</p>
            </div>


            <div class="c__apologiesprev_es__modal_body">

                <p>Sus preferencias de móvil se actualizaron anteriormente por medio de esta aplicación y no se permiten actualizaciones adicionales. Si tiene alguna pregunta, por favor comuníquese con Citibank en representación de  {Partner} al {portfolio_toll_free number}.<br>Gracias.</p>
                <button class="blue_BTN c__apologiesprev_es_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>