<div class="c__footer">

    <div class="container c__footer__container_en">
        <div class="row">

            <div class="c__footer__logo">

            </div>

            <ul class="c__footer__items">
                <li class="c__footer__link_copy">&copy 2016 Citigroup Inc</li>
                <li><a href="https://online.citi.com/US/JRS/portal/template.do?ID=TermsDisclaimer&JFP_TOKEN=A9W4IUNJ" target="_self" class="c__footer__link">Terms & Conditions</a></li>
                <li><a href="https://online.citi.com/US/JRS/portal/template.do?ID=Privacy&JFP_TOKEN=DMJJ7BXI"  target="_self" class="c__footer__link">Privacy</a></li>
                <li><a href="https://online.citi.com/US/JRS/pands/detail.do?ID=SecurityCenter&JFP_TOKEN=87KJ9QAX" target="_self" class="c__footer__link">Security</a></li>

            </ul>

            <ul class="c__footer__items_es">
                <li class="c__footer__link_copy">&copy 2016 Citigroup Inc</li>
                <li><a href="https://online.citi.com/US/JRS/portal/template.do?ID=TermsDisclaimer&JFP_TOKEN=A9W4IUNJ" target="_self" class="c__footer__link">Términos y Condiciones</a></li>
                <li><a href="https://online.citi.com/US/JRS/portal/template.do?ID=Privacy&JFP_TOKEN=DMJJ7BXI"  target="_self" class="c__footer__link">Privacidad</a></li>
                <li><a href="https://online.citi.com/US/JRS/pands/detail.do?ID=SecurityCenter&JFP_TOKEN=87KJ9QAX" target="_self" class="c__footer__link">Seguridad</a></li>

            </ul>

            <div class="c__footer__copy">
                <p>Citibank.com provides information about and access to accounts and financial services provided by Citibank, N.A. and its affiliates in the United States and its territories. Terms, conditions and fees for accounts, products, programs and services are subject to change. Not all accounts, products, and services as well as pricing described here are available in all jurisdictions or to all customers. Your country of citizenship, domicile, or residence, if other than the United States, may have laws, rules, and regulations that govern or affect your application for and use of our accounts, products and services, including laws and regulations regarding taxes, exchange and/or capital controls that you are responsible for following. </p>
                <p>The products, account packages, promotional offers and services described in this website may not apply to customers of <a href="http://www.citibank.com/citigoldprivateclient/homepage/content/en/index.html" target="_self" class="c__footer__link2">Citigold Private Client</a>, <a href="http://www.citigoldinternational.citi.com/citigoldinternational/homepage/content/english/index.htm" target="_self" class="c__footer__link2">Citigold International</a>, <a href="http://www.citibank.com/ipb-global/homepage/newsite/content/english/index.htm" target="_self" class="c__footer__link2">International Personal Banking</a> or <a href="http://www.citibank.com/us/geb/index.htm" target="_self" class="c__footer__link2">Global Executive Banking</a>. Please click on the appropriate link to obtain such information.</p>
            </div>

        </div>
    </div>




</div>