<div class="c__thankyoushort" data-action="thankyoushort">
    <div id="c__thankyoushort__modal" class="c__thankyoushort__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__thankyoushort__modal__header">
                <p>Thank You!</p>
            </div>


            <div class="c__thankyoushort__modal_body">

                <p> We have recorded your update, please note this may take up to 2 days to complete. If you have any questions please contact Citibank on behalf of {Partner} at {portfolio_toll_free number}. Thank you.</p>
                <button class="blue_BTN c__thankyoushort_closeBTN">Close</button>

            </div>

        </div>


    </div>

</div>