<div class="p__mobileEnter" data-action="mobileEnter" xmlns="http://www.w3.org/1999/html">

    <div class="p__mobileEnter__wrapper">

        <h2>Enter Your Mobile Number</h2>
        <p>{Customer_Name}, you have been successfully authenticated. Please read the disclosure below and provide your mobile number.</p>


        <div class="p__mobileEnter__bodyConteriner">
            <div class="p__mobileEnter_container">
                <div class="p__mobileEnter__error">
                    <p class="p__mobileEnter__norecord">The number you provided is not valid. Please enter the number again.</p>
                    <p class="p__mobileEnter__landline">The number provided is a landline.  Please enter your mobile number below.</p>
                </div>

                <p>Please <span class="bold"> enter</span> your mobile number below: (Ex. (area code) XXX - XXXX)</p>
                    <div class="p__mobileEnter__phoneNum">
                        <input class="numbersonly" type="text" id="phone-1" name="phone-1" maxlength="3">
                        <input class="numbersonly" type="text" id="phone-2" name="phone-2" maxlength="3">
                        <input class="numbersonly" type="text" id="phone-3" name="phone-3" maxlength="4">

                    </div>

                <div class="p__mobileEnter__terms">
                     <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" checked type="checkbox">
                     <label for="checkbox-1" class="checkbox-custom-label"><p>By giving us a cell number or a number later converted to a cell number, you agree that we or our service providers can contact you at that number by autodialer, recorded or artificial voice, or a text.  Your phone plan charges may apply.</p></label>
                </div>

                <button type="button"  id="saveNumberBTN" class="blue_BTN">Save Number to File</button>
                <a id="p__mobileEnter_cancelBTN" class="cancel__BTN">Cancel</a><br>
                <a id ="p__mobileEnter__donotWish" class="cancel__BTN p__mobileEnter__margintop20">I don’t wish to enter a number at this time</a>

            </div>


        </div>

    </div>


    {{>thankyoushort}}
    {{>processcancelled}}
    {{>nocell}}

    {{>apologiesalapsed}}
    {{>apologiesprev}}
    {{>timeout}}




</div>

