<div class="c__attention" data-action="attention">
    <div id="c__attention__modal" class="c__attention__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__attention__modal__header">
                <p>Attention!</p>
            </div>


            <div class="c__attention__modal_body">

                <p>The information entered does not match our records. Please contact Citibank on behalf of {{Partner}} at {{portfolio_toll_free_number}}.</p>
                <button class="blue_BTN c__attention_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>