<div class="p__enteryourmobile" data-action="enteryourmobile">
    <h2>Enter Your Mobile Number</h2>
    <p> {{Customer Name}}, you have been successfully authenticated. Please read the disclosure below and provide your mobile number.</p>
    <div class="p__enteryourmobile__error">
        <p>The number you entered does not match our records. Please enter the number again.</p>
    </div>

    <form class="p__enteryourmobile__zipform">
        <label for="zipcode">Billing Zip Code</label>
        <input id="zipcode" type="text" value="">
        <button type="button"  id="zipBTN" class="blue_BTN">Proceed</button>
        <a class="cancel__BTN"> Cancel</a>
    </form>

</div>

