

<div class="p__authentication" data-action="authentication">

    <div id="wrapper_EN">

    <h2>Authentication Page</h2>
    <p class="p__authentication__copy">In order to complete the account update, please verify your identity by entering <br>your five digit billing zip code associated with your {Partner} account.</p>
    <div class="p__authentication__error">
        <p>The number you entered does not match our records. Please enter the number again.</p>
    </div>

    <form class="p__authentication__zipform">
        <label for="zipcode">Billing Zip Code</label>
        <input id="zipcode" type="text" maxlength="5" value="">
        <button type="button"  id="zipBTN" class="blue_BTN">Proceed</button>
        <a id ="p__authentication__cancel_EN" class="cancel__BTN">Cancel</a>
    </form>

    </div>

    {{>processcancelled}}
    {{>process_cancelled_es}}

    {{>attention}}
    {{>attention_es}}



</div>

