<div class="c__nocell" data-action="nocell">
    <div id="c__nocell__modal" class="c__nocell__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__nocell__modal__header">
                <p>Thank you for your business</p>
            </div>


            <div class="c__nocell__modal_body">

                <p>We have recorded your update, please note this may take up to 2 days to complete. You have indicated you do not have a cell phone or do not wish to have a cell phone on file.  If you have any questions please contact Citibank on behalf of {Partner} at {portfolio_toll_free_number}.  Thank You.</p>
                <button class="blue_BTN c__nocell_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>