<div class="c__thankyoushort_es" data-action="thankyoushort_es">
    <div id="c__thankyoushort_es__modal" class="c__thankyoushort_es__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__thankyoushort_es__modal__header">
                <p>¡Gracias!</p>
            </div>


            <div class="c__thankyoushort_es__modal_body">

                <p>Hemos registrado su actualización, por favor tenga en cuenta que podrían transcurrir hasta dos días para que esto se complete. Si tiene alguna pregunta, por favor comuníquese con Citibank en representación de {Partner} al {portfolio_toll_free_number}. Gracias.</p>
                <button class="blue_BTN c__thankyoushort_es_closeBTN">Cerrar</button>

            </div>

        </div>


    </div>

</div>