<div class="c__apologiesprev" data-action="apologiesprev">
    <div id="c__apologiesprev__modal" class="c__apologiesprev__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__apologiesprev__modal__header">
                <p>We apologize for the inconvenience</p>
            </div>


            <div class="c__apologiesprev__modal_body">

                <p>Your mobile preferences has previously been updated through this application and additional updates are not allowed.  If you have any questions please contact Citibank on behalf of {Partner} at {portfolio_toll_free_number}. Thank You.</p>
                <button class="blue_BTN c__apologiesprev_closeBTN">Close</button>

            </div>

        </div>

    </div>

</div>