<div class="c__apologiesalapsed_es" data-action="apologiesalapsed_es">
    <div id="c__apologiesalapsed_es__modal" class="c__apologiesalapsed_es__modal">

        <!-- Modal content -->
        <div class="modal-content">

            <div class="c__apologiesalapsed_es__modal__header">
                <p>Le pedimos disculpas por cualquier inconveniente</p>
            </div>


            <div class="c__apologiesalapsed_es__modal_body">

                <p>Se ha expirado el plazo de tiempo para actualizar las preferencias de su dispositivo móvil por medio de esta aplicación. Si tiene alguna pregunta, por favor comuníquese con Citibank en representación de {Partner} al {portfolio_toll_free number}. Gracias.</p>
                <button class="blue_BTN c__apologiesalapsed_es_closeBTN">Cerrar</button>

            </div>

        </div>

    </div>

</div>