<div class="c__timeout_es" data-action="timeout_es">
    <div id="c__timeout_es__modal" class="c__timeout_es__modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="c__timeout_es__modal__header">
                <p>Su sesión ha expirado</p>
            </div>



            <div class="c__timeout_es__modal__body__wrapper">
                <div class="c__timeout_es__modal_body">

                    <p>Si tiene alguna pregunta, por favor comuníquese con Citibank en representación de {Partner} al {portfolio_toll_free number}.</p>
                    <button class="blue_BTN c__timeout_es_closeBTN">Cerrar</button>

                </div>
            </div>

        </div>

    </div>

</div>