.c__timeout{


  .c__timeout__modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 93px;
    height: 700px;
    width: 984px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color:transparent;
    margin: auto;
    padding: 1px 0 1px 1px;
    border: none;
    width: 728px;
    border-radius: 0;
    box-shadow: none;
    .c__timeout__modal__header {
      width: 726px;
      height: 52px;
     // background-color: #00498a;
      p {
        color: #fff;
        font-size: 32px;
        line-height: 52px;
        padding: 0;
        text-align: center;
        font-weight: bold;
        &:before{
          content: url("../images/warning_timeout_img.png");
          margin-right: 15px;
        }
      }
    }


    .c__timeout__modal__body__wrapper{
      background-color: #fff;
      padding: 10px;

        .c__timeout__modal_body {
          height: 190px;
          background-color: #dadada;
          p {
            font-size: 18px;
            color: #333333;
            text-align: left;
            width: 586px;
            margin: auto;
            padding-top: 40px;
          }

          .c__timeout_closeBTN {
            font-weight: bold;
            color: #fff;
            font-size: 14px;
            margin-left: 300px;
            margin-top: 30px;
            width: 120px;
          }
        }

    }

  }
}